.btn {
  padding: 6px 12px;
  border: 1px solid transparent;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
  vertical-align: center;
  line-height: 1.42857143;
}

.btn:hover {
  filter: brightness(1.1);
}

.btn-pill {
  border-radius: 23px;
}

.btn-bold {
  font-weight: bold;
}

/* styling for variants */
@mixin variant-color-modifiers($attribute: 'color') {
  @each $name, $hex in $colors {
    &-#{$name} {
      #{$attribute}: $hex;
    }
  }
  @each $name, $hex in $colors {
    &-#{$name}:active {
      box-shadow: 0px 0px 0px 5px rgba($hex, 30%);
    }
  }
}

@mixin outline-color-modifiers() {
  @each $name, $hex in $colors {
    &-#{$name} {
      border: 1px solid $hex;
      color: $hex;
      background-color: transparent;
    }
  }
  @each $name, $hex in $colors {
    &-#{$name}:active {
      box-shadow: 0px 0px 0px 5px rgba($hex, 30%);
    }
  }
}

@mixin outline-hover-modifiers() {
  @each $name, $hex in $colors {
    &-#{$name} {
      border: 1px solid $hex;
      color: $hex;
      background-color: transparent;
    }
  }
}

.btn {
  @include variant-color-modifiers(background-color);
}

.btn-outline {
  @include outline-color-modifiers();
}
