/* base styling for our button */
.btn {
  padding: 0.6rem 1rem;
  background: transparent;
  border: 1px solid #1e1e1e;
  cursor: pointer;
  border-radius: 0.4rem;
  color: white;
  &:hover {
    opacity: 0.85;
  }
  border: none;
}

/* styling for our variants */
.btn-primary {
  background-color: #1872e0;
}

.btn-danger {
  background-color: #d23030;
}

/* styling for different shape*/
.btn-bold {
  font-weight: bold;
}
